@{
    ViewBag.Title = "Головна";
}

<div class="jumbotron text-center">
    <h1>Онлайн-крамничка в'язаних виробів ручної роботи</h1>
</div>
    <div class="row">
        <h1 class="text-center">Топ товари</h1>
    </div>
    <div class="row">
        <div class="col-md-4 col-lg-4 col-sm-12">
            <div class="item">
                <img class="img-responsive center-block" src="https://ireland.apollo.olxcdn.com/v1/files/6kt54rw67mmm-UA/image;s=1000x700" />
                <h1 class="text-center">Зайка</h1>
                <button class="center-block">перейти на сторінку товару</button>
            </div>
        </div>
        <div class="col-md-4 col-lg-4 col-sm-12 center-block">
            <div class="item">
                <img class="img-responsive center-block" src="https://ireland.apollo.olxcdn.com/v1/files/4cmqk9hqalce2-UA/image;s=1000x700" />
                <h1 class="text-center">Собачка</h1>
                <button class="center-block">перейти на сторінку товару</button>
            </div>
        </div>
        <div class="col-md-4 col-lg-4 col-sm-12 center-block">
            <div class="item">
                <img class="img-responsive center-block" src="https://ireland.apollo.olxcdn.com/v1/files/uha8uhy1u2b23-UA/image;s=1000x700" />
                <h1 class="text-center">Слоник</h1>
                <button class="center-block">перейти на сторінку товару</button>
            </div>
        </div>
    </div>
